{% extends "home_section.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="section">
	<h2>About NUMA</h2>
	<div class="body">
		<p>Numa is an archive of player-created maps for the game
		<a href="http://www.harveycartel.org/metanet/n.html">N</a>, an addictive
		platformer somewhat reminiscent of Lode Runner.</p>

		<p>Numa provides a place for N map authors to post new maps they have created,
		so they can provide a simple URL. For players, it provides a centralised
		repository of maps to play, thumbnails of maps so players can get a glimpse of
		a map before loading it, and the ability to post comments and demo data for
		maps.</p>

		<p>Currently, Numa provides no integrated method for posting a set of multiple
		maps, but this can be achieved by posting each map separately, then including
		the URLs to other maps in comments on each map.</p>

		<p>Comments, complaints and suggestions are welcome, please
		<a href="mailto:numa@notdot.net">email the webmaster</a> with any and all of
		the above.</p>

		<h1>Multi-accounting</h1>
		<p>Having multiple accounts on NUMA is <strong>not allowed</strong> if they are
		both being used to place votes. Anyone breaking this rule will be dealt with
		harshly. Please <a href="mailto:numa.notdot.net">contact us</a> if you wish to
		have the name of your account changed.</p>
	</div>
</div>
{% endblock %}
