{% extends "home_section.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="section">
	<h2>About NUMA</h2>
	<div class="body">
		<p>Numa is an archive of player-created maps for version 1.4 of
		<a href="http://www.thewayoftheninja.org/">N</a>, an addictive
		platformer somewhat reminiscent of Lode Runner.</p>

		<p>Though Metanet Software has released version 2 of the game, version 1.4
		is largely regarded as superior by the community; there's a download link
		<a href="http://www.thewayoftheninja.org/n_history.html">here</a>, or you can
		pick up the fan mod <a href="http://n.infunity.com/">NReality</a>,
		which features some excellent improvements.</p>

		<p>Numa provides a place for N map authors to share their creations with the
		community and receive constructive feedback. For players, it provides a centralised
		repository of maps to play, thumbnails of maps so players can get a glimpse of
		a map before loading it, and the ability to post comments and replays for
		maps.</p>

		<p>Currently, Numa provides no integrated method for posting a set of multiple
		maps. We recommend using the handy <a href="http://packs.droni.es/">Packs tool</a>
		to create and share map packs. If you submit these maps to Numa, organize them by
		adding a shared tag to each map.</p>

		<p>Comments, complaints and suggestions are welcome. Please
		<a href="mailto:admin@nmaps.net">email the administrators</a> with any and all of
		the above.</p>

		<h2>Multi-accounting</h2>
		<p>Having multiple accounts on NUMA is <strong>not allowed</strong> if they are
		both being used to place votes. Anyone breaking this rule will be dealt with
		harshly. Please <a href="mailto:admin@nmaps.net">contact us</a> if you wish to
		have the name of your account changed.</p>
	</div>
</div>
{% endblock %}
