{% extends "base.html" %}
{% block sections %}
  <div id="sections">
    <div id="home"><a href="/"><img src="/static/spacer.png" alt="Home" /></a></div>
    <div id="maps"><a href="/browse"><img src="static/spacer.png" alt="Maps" /></a></div>
    <div id="profile"><a href="/user/{{user.username|urlencode}}"><img src="/static/spacer.png" alt="Profile" /></a></div>
    <div id="other"><a href="/other"><img src="/static/spacer.png" alt="Other" /></a></div>
  </div>
  <div id="subsections">
    {% contextual_link /admin/modqueue selected %}Moderation Queue{% endlink %}
  </div>
{% endblock %}
