{% extends "base.html" %}
{% block sections %}
  <div id="sections">
	<div id="home"><a href="/"><img src="/static/spacer.png" alt="Home" /></a></div>
	<div id="maps"><a href="/browse"><img src="/static/maps-selected.png" alt="Maps" /></a></div>
	<div id="profile">
    <a href="/user"><img src="/static/spacer.png" alt="Profile" /></a>
	</div>
	<div id="other"><a href="/other"><img src="/static/spacer.png" alt="Other" /></a></div>
  </div>
  <div id="subsections">
    {% contextual_link /browse selected %}Hot Maps{% endlink %}
    <img src="/static/plusbullet.png" alt="+" />
    {% contextual_link /authors selected %}Active Authors{% endlink %}
    <img src="/static/plusbullet.png" alt="+" />
    {% if user.isadmin or user.canreview %}
      {% contextual_link /featured?future=True selected %}(Future){% endlink %}
    {% endif %}
    {% contextual_link /featured selected %}Featured Maps{% endlink %}
    <img src="/static/plusbullet.png" alt="+" />
    {% contextual_link /browse?random=True selected %}Random{% endlink %}
    {% if session.logged_in and not user.isadmin and not user.canreview %}
      <img src="/static/plusbullet.png" alt="+" />
      {% contextual_link /submit selected %}Submit a Map{% endlink %}
    {% endif %}
  </div>
{% endblock %}
