{% extends "other_section.html" %}
{% block title %}Other{% endblock %}
{% block content %}
<div class="section">
    <h2>Other</h2>
    <div class="body">
        <p><a href="/whoswho">Who's Who</a> shows a roster of current NUMA staff.</p>

        <p><a href="https://forum.droni.es/">The Metanet forums</a> are the place to go to discuss
        anything Metanet and N related.

        <p>Join our <a href="https://discord.gg/nplusplus">Discord server</a>! It's the place to chat
        with other N players.</p>

        <p><a href="http://www.harveycartel.org/metanet/n.html">Metanet Software</a> is the developers' homepage.</p>

        <p><a href="/sundayn">The Sunday N</a> was a series of weekly posts by
        <a href="http://www.nmaps.net/user/KinGAleX">Alex Kurcharski</a> featuring notable N
        maps and other community news. It is now discontinued, but the archive remains online.</p>
    </div>
</div>
{% endblock %}
