{% extends "other_section.html" %}
{% block title %}The Sunday N{% endblock %}
{% block content %}
<div class="section">
  <h2>The Sunday N</h2>
  <div class="body">
    <p style="text-align: center;">
      <img src="/static/sundaynheader.png" alt="The Sunday N" />
      <br />
      by <a href="/user/KinGAleX">Alex Kurcharski</a>,
      featuring <a href="/user/rennaT">Tanner Rogalsky</a>
      and <a href="/user/Kablizzy">Matt Blaylock</a>
    </p>
    <p style="text-align: center;">
      <strong>Archive:</strong>
      <br />
      {% for i in archive_nums %}
        &nbsp;&nbsp;<a href="/sundayn/{{i}}">#{{i}}</a>&nbsp;&nbsp;
      {% endfor %}
    </p>
    <p style="text-align: center">
      {% if not sundan.number|equals:last_sundayn.number %}
        <a href="/sundayn/{{sundayn.number|add:1}}">Next</a>&nbsp;
      {% endif %}
      {% if not sundayn.number|equals:0 %}
        &nbsp;<a href="/sundayn/{{sundayn.number|sub:1}}">Previous</a>
      {% endif %}
    </p>
    <p style="text-align: center">
      <strong><a href="/sundayn/{{sundayn.number}}/feedback">View feedback on this issue.</a></strong>
    </p>
    <hr />
    {{sundayn.text}}
  </div>
</div>
{% endblock %}
